bokeh
matplotlib
matplotlib-venn
plotly
scipy
requests
requests-ftp
requests-oauthlib
streamlit
streamlit-aggrid
streamlit-agraph
streamlit-bokeh-events
streamlit-cropper
networkx
pandas
simplejson
protobuf
seaborn
numba
numpy
jinja2
umap-learn
openpyxl
scanpy